body{
    margin: 0;
}
a {
    color: inherit; 
    text-decoration: none; 
}

h1{
    font-weight: 700;
}
h3{
    color: #800000;
}
h4{
    font-weight: 600;
}

.main{
    background-image: url("images/2.png");
    background-size:  100% 93.6%;
    background-repeat: no-repeat;
}

.fixed-top{
    background-color: #800000;
    max-height: 3.5rem;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    color: #f2f2f2;
}

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    color: #f9f2f2;
    text-transform: uppercase;
    padding-right: 2rem;
}

.navbar-nav.m-lg-auto {
	padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: right;
}

.nav-link:hover{
    border-bottom: 1px solid #f9f2f2;
}

.btn-primary{
    background-color: #800000;
    border: #800000;
    padding: 1rem 3rem;
}

.btn-secondary{
    background-color: #f9f2f2;
    color: #800000;
    border: none;
}

.btn-secondary:hover{
    background-color: #902323;
    border: #f9f2f2;
}

.btn-primary:hover{
    background-color: #f9f2f2;
    color: #800000;
    border: #800000;
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list li {
    margin-bottom: 2rem;
}

.info-list .label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.info-list .value {
    display: block;
    color: #888;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
}

.contact-wrapper{
    background-color: #800000;
}

.custom-col {
    padding: 15px;
}